.container {
    display: flex;
    justify-content: space-between;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.firstCard {
    display: flex;
    flex-direction: column-reverse;
    z-index: 2;
    color: #fff;
}

.img {
    position: absolute;
    border-radius: 2rem;
    overflow: hidden;
}