.container {
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    z-index: 999;
    padding: 0 2rem;
}


@media only screen and (max-width: 425px) {
    .logo {
      display: none;
    }

    .container {
        justify-content: center;
    }
  }