.container {
    background-color: var(--color-box);
    border-radius: 0 0 1rem 1rem;
    padding-bottom: 1rem;
    margin: 0 0 2.5rem 0;
    box-shadow: 0px 3px 6px var(--color-box-shadow);
    line-height: 1.5;
    overflow: hidden;
}

.contents {
    padding: 0 1rem;
}

.contactCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.profileImg {
    max-width: 153px;
    max-height: 153px;
    border-radius: 10rem;
    border: 3px solid var(--color-primary-accent);
    overflow: hidden;

}

.intro {
    padding-left: 4rem;
}

.contact {
    font-size: 1.4rem;
    color: var(--color-secondary-font);
}

.backgroundImg {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 100%;
    height: 50px;
}

.quote {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.2;
}

.quoteWidth {
    max-width: 400px;
}

.name {
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 0;
}

.icon {
    margin-right: 0.5rem;
    width: 14px;
    height: 14px;
}

.interests {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}
.interestBox {
    font-size: 1.4rem;
    background-color: var(--color-input);
    padding: 0.6rem 1rem 0.2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    line-height: 1;
    height: 28px;
}
.interestBox:hover {
    background-color: var(--color-navIcon);
    margin: 0 .2rem .4rem;
}


@media only screen and (max-width: 768px) {
    .quoteWidth {
        max-width: 300px;
    }

    .intro {
        padding-left: 1rem;
    }
  }



@media only screen and (min-width: 720px) {
    .container {
        border-radius: 1rem;
        margin: 1rem 0 2.5rem 0;
    }
  }

@media only screen and (min-width: 1200px) {
    .container {
        display: none;
    }
  }