.container {
    display: flex;
    justify-content: center;
}

.container:hover {
    color: var(--color-primary-accent);
}

.container:hover > .icons {
    background-color: var(--color-input);
    box-shadow: 0px 0px 0.5em 0.5rem var(--color-input);
}

.text {
    padding: 0 1rem;
}

.icons {
    height: 2rem;
    width: 2rem;
    color: var(--color-primary-accent);
    border-radius: 5px;
}