.container {
    display: flex;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

.navButton {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem;
}
.navButton:hover  {
    background-color: var(--color-hover);
}

.anchor {
    padding: 0.5rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.underline{
    position: absolute;
    width: 150px;
    height: 3px;
    top: 4.7rem;
}

.navtitle {
    display: none;
    position: absolute;
    top: 5rem;
    text-align: center;
    color: var(--color-primary-font-reverse);
    background-color: var(--color-primary-font);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    opacity: .4;
    width: 100px;
}

.navButton:hover .navtitle{
    display: block;
}


/* For tablets */
@media only screen and (max-width: 800px) {
    .section,
    .underline,
    .navtitle {
      width: 100px;
    }
  }

/* For smartphones */
@media only screen and (max-width: 600px) {
    .section,
    .navtitle {
      width: 50px;
    }

    .underline {
        display: none;
    }
  }