.container {
    display: flex;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.navButton {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem;
}
.navButton:hover  {
    background-color: var(--color-hover);
}



.anchor {
    padding: 0.5rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.underline{
    position: absolute;
    width: 150px;
    height: 3px;
    top: 4.7rem;
}

.navtitle {
    display: none;
    position: absolute;
    top: 5rem;
    margin-left: 4rem;
    color: var(--color-primary-font-reverse);
    background-color: var(--color-primary-font);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    opacity: .4;
}

.navButton:hover + .navtitle{
    display: block;
}