.container {
    font-size: 1.4rem;
    background-color: var(--color-input);
    padding: 0.6rem 1rem 0.2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    line-height: 1;
    height: 28px;
}
.container:hover {
    background-color: var(--color-navIcon);
    margin: 0 .2rem .4rem;
}
.interests {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}