* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}
html,
textarea,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-padding-top: 7rem;
  line-height: 1;
}
body {
  font-size: 1.6rem;
  position: relative;
  background-color: var(--color-background);
  color: var(--color-primary-font);
}

/* colors */
:root {
  --color-background: #fbfbff;
  --color-primary: #3F51B5;
  --color-primary-accent: #1A237E;
  --color-primary-font: #000;
  --color-primary-font-reverse: #E8EAF6;
  --color-secondary-font: #797979;
  --color-box: #fff;
  --color-box-shadow: #c7c7c7;
  --color-hover: #1A237E;
  --color-messageHover: #c7c7c7;
  --color-input: #f0f0f0;
  --color-input-focus: #e8e8f1;
  --color-post: #fff;
  --color-link: #3F51B5;
  --color-navIcon: #9FA8DA;
  --color-interest: #d5d9ee;
  --color-navMenuButton: #B3B3B3;
}

[data-theme='dark'] {
  --color-background: #121212;
  --color-primary: #2A2A2A;
  --color-primary-accent: #9FA8DA;
  --color-primary-font: #E8EAF6;
  --color-primary-font-reverse: #000;
  --color-secondary-font: #B3B3B3;
  --color-box: #2A2A2A;
  --color-box-shadow: #121212;
  --color-hover: #535353;
  --color-messageHover: #535353;
  --color-input: #535353;
  --color-input-focus: #2A2A2A;
  --color-post: #fff;
  --color-link: #3F51B5;
  --color-navIcon: #B3B3B3;
  --color-interest: #535874;
  --color-navMenuButton: #535353;
}

hr {
  height: 1px;
  background-color: var(--color-secondary-font);
  border: none;
  opacity: .4;
}

.noPaddingHr {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;;
}

/* Global default show and hide styles */
.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: height 0.2s, opacity 0.6s linear;
}
.hide {
  visibility: hidden;
  opacity: 0;
  transition: height 0.2s, opacity 0.6s linear;
}

.darkmodeInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* general post */
.card {
  background-color: var(--color-box);
  border-radius: 2rem;
  box-shadow: 0px 3px 6px var(--color-box-shadow);
  max-width: 130px;
  height: 230px;
  margin: 2.5rem 0 0 0;
  overflow: hidden;
  display: flex;
}

.box {
  background-color: var(--color-box);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 2.5rem 0;
  box-shadow: 0px 3px 6px var(--color-box-shadow);
  line-height: 1.5;
}

.boxManualPadding{
  background-color: var(--color-box);
  border-radius: 1rem;
  margin: 2.5rem 0;
  box-shadow: 0px 3px 6px var(--color-box-shadow);
  line-height: 1.5;
}
.headerPadding {
  padding: 1rem 2rem 0 2rem;
}
.descPadding {
  padding: 0 2rem;
}
.footerPadding {
  padding: 0 2rem 1rem 2rem;
}

.boxPicture {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: var(--color-box);
  margin: 1rem 0;
}

.picture {
  background-color: var(--color-post);
  border: 1px solid var(--color-box);
  width: 340px;
  height: 340px;
}

.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem 0
}

.boxHeaderImg {
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 3rem;
  overflow: hidden;
}

.flex,
.boxFlex {
  display: flex;
  align-items: center;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.spaceLeft {
  margin-left: 0.5rem;
}

.boxPrimary {
  color: var(--color-primary-font);;
}
.boxSecondary {
  font-size: 1.4rem;
  color: var(--color-secondary-font);
}

.boxHeaderTitle {
  padding-left: 1rem;
}

input,
textarea {
  padding: 0.5rem;
  width: 100%;
}


/* Icons ======================== */
.icon {
  width: 20px;
  height: 20px;
  color: var(--color-primary-font);
}

.icon:hover {
  color: var(--color-secondary-font);
  transition: all 0.2s;
}


/* Button ======================== */
button {
  border: none;
  border-style: none;
}

/* Anchor ======================== */
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:visited,
a:active {
  color: var(--color-primary-font);
}

/* when clicked */
a:active {
  color: var(--color-primary-accent);
}

a:hover {
  color: var(--color-link);
}